/*
orange: #EA8100
faded orange: #E0D7CE
dk brown: #662C00
lt orange: #FAA970
dk orange: #FF6138
lt gray: #999999
*/

html {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #E0D7CE;
}

.whiteTextColor {
  color: #FFFFFF;
}

.primaryBGColor {
  background-color: #EA8100;
}

.secondaryBGColor {
  background-color: #FAA970;
}

.focusBGColor {
  background-color: #FF6138;
}

.primaryTextColor {
  color: #EA8100;
}

.secondaryTextColor {
  color: #FAA970;
}

.dkGrayBGColor {
  background-color: #666666;
}

.ltGrayBGColor {
  background-color: #999999;
}

.darkBorder {
  border: 1px solid #662C00;
}

.darkTopBorder {
  border-top: 1px solid #662C00;
}

.navButton {
  text-shadow: #662C00 1px 1px 0px;
  border-top: 1px solid #662C00;
}

.header {
  color: #FFFFFF;
  text-shadow: #662C00 1px 1px 0px;
  font-size: 30px;
  border-bottom: 2px solid #662C00;
}

.FeedEntryBackground {
  border: 1px solid #662C00;
  background-color: #E0D7CE;
  font: 16px Georgia, sans-serif;
  padding-left: 10px;
  padding-top: 5px;
}

.FeedEntryAddPhotoButton {
   background-color: #DDD;
   cursor: pointer;
   text-align: center;
   font: 20px Georgia;
}

.Background {
  background-color: #BBB;
}

.ProfileHeaderButton {
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 3px;
  font-size: 14px;
  font-weight: bold;
}

.ProfileUserLocation {
  font-size: 16px;
}

.ProfileUsername {
  font-size: 17px;
  font-weight: bold;
}

.FeedEntryDivider {
  /* fallback */
  background-color: #CCC;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#000));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #000, #CCC);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #000, #CCC);

  /* IE 10 */
  background: -ms-linear-gradient(top, #000, #CCC);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #000, #CCC);

}

.FeedEntryCaption {
  color: #777;
  font: 15px Georgia, sans-serif;
  font-weight:bold;
  margin-left: 5px;
}

.FeedEntryPhoto {
  border-radius: 5px;
  margin-left: 10px;
}

.AddPhotoViewPicFrame {
  border: 1px solid #662C00;
}

.AddViewButton {
  border-radius: 10px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  background-color: #79BD8F;
  color: 'white';
}

.salmonBG{
  background-color: #FF6138;
}

.yellowBG{
  background-color: #FFFF9D;
}

.lightgreenBG{
  background-color: #BEEB9F;
}

.medgreenBG{
  background-color: #79BD8F;
}

.darkgreenBG{
  background-color: #00A388;
}
