html {
    background-color: #fff;
    color: #000;
}

.customButton{
  color: #FF6138;
  font-weight: bold;
}

.header {
  font-size: 30px;
  text-shadow: white 1px 1px 0px;
  color: #FF6138;
  border-bottom: 2px solid #79BD8F;
}

.FeedEntryBackground {
  border: 1px solid #79BD8F;
  background-color: #EEE;
  font: 16px Georgia, sans-serif;
  padding-left: 10px;
  padding-top: 5px;
}

.FeedEntryAddPhotoButton {
   background-color: #DDD;
   cursor: pointer;
   text-align: center;
   font: 20px Georgia;

}

.Background {
  background-color: #BBB;
}

.ProfileHeaderButton {
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 3px;
  color: #FFF;
  font: 14px Georgia, sans-serif;
  font-weight: bold;
}

.ProfileUserLocation {
  color: #777;
  font: 16px Georgia, sans-serif;
}

.ProfileUsername {
  color: #777;
  font: 17px Georgia, sans-serif;
  font-weight: bold;
}

.FeedEntryDivider {
  /* fallback */
  background-color: #CCC;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#000));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #000, #CCC);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #000, #CCC);

  /* IE 10 */
  background: -ms-linear-gradient(top, #000, #CCC);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #000, #CCC);

}

.FeedEntryCaption {
  color: #777;
  font: 15px Georgia, sans-serif;
  font-weight:bold;
  margin-left: 5px;
}

.FeedEntryPhoto {
  border-radius: 5px;
  margin-left: 10px;
}

.AddViewPictureFrame {
  border: 2px solid #FF6138;
  border-radius: 5px;
}

.AddViewButton {
  border-radius: 10px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  background-color: #79BD8F;
  color: 'white';
}

.salmonBG{
  background-color: #FF6138;
}

.yellowBG{
  background-color: #FFFF9D; 
}

.lightgreenBG{
  background-color: #BEEB9F;
}

.medgreenBG{
  background-color: #79BD8F;
}

.darkgreenBG{
  background-color: #00A388;
}
