/*
orange: #EA8100
faded orange: #E0D7CE
dk brown: #662C00
lt orange: #FAA970
dk orange: #FF6138
lt gray: #999999

FROM TAP TO TELL
pink: 239, 85, 118
dark pink: 247, 70, 101
blue-green: 34, 168, 150
orange: 255, 192, 70
light green: 181, 213, 172
*/

html {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #E0D7CE;
}

.altColor0 {
  background-color: rgb(34, 168, 150);
}

.altColor1 {
  background-color: rgb(247, 70, 101);
}

.altColor2 {
  background-color: rgb(255, 192, 70);
}

.altColor3 {
  background-color: #79E86B;  
}


.textColor0 {
  /* red */
  color: rgb(247, 70, 101);
}

.textColor1 {
  /* yellow */
  color: #FFE765;
}

.textColor2 {
  /* green */
  color: #79E86B;  
}

.textColor3 {
  /* blue-green */
  color: rgb(34, 168, 150);
}

.whiteTextColor {
  color: #FFFFFF;
}

/*gray 133 145 159
dark gray 74 90 104
orange 254 134 52*/

.primaryBGColor {
  background-color: rgb(74, 90, 104);
}

.secondaryBGColor {
  background-color: #FAA970;
}

.focusBGColor {
  background-color: #FF6138;
}

.primaryTextColor {
  color: #EA8100;
}

.secondaryTextColor {
  color: #FAA970;
}

.focusTextColor {
  color: #FF6138;
}

.dkGrayBGColor {
  background-color: #666666;
}

.ltGrayBGColor {
  background-color: #999999;
}

.darkBorder {
  border: 1px solid #662C00;
}

.darkTopBorder {
  border-top: 1px solid #662C00;
}

/*
.navButton {
  text-shadow: #662C00 1px 1px 0px;
  border-top: 1px solid #662C00;
}
*/

.navButton1.active {
  color: rgb(247, 70, 101);
}

.navButton2.active {
  color: #FFE765;
}

.navButton3.active {
  color: #79E86B;
}

.header {
  color: #FFFFFF;
  /*text-shadow: #662C00 1px 1px 0px;*/
  font-size: 32px;
  font-weight: bold;
  /*border-bottom: 2px solid rgb(133, 145, 159);*/
}

.FeedViewSortButton {
  background-color: #00A388;
  text-align: center;
  font: 16px Helvetica, sans-serif;
  font-weight: bold;
  color: white;
/*  border: 1px solid white;*/
}

.FeedEntryBackground {
  border: 1px solid #662C00;
  background-color: #E0D7CE;
  font: 16px Helvetica, sans-serif;
  padding-top: 5px;
}

.FeedEntryAddPhotoButton {
  background-color: #DDD;
  cursor: pointer;
  text-align: center;
  font: 20px Helvetica;
}

.FeedEntryYarnDetailButton {
  opacity: 0.5;
  cursor: pointer;
  font: 16px Helvetica, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

.Background {
  background-color: #BBB;
}

.ProfileHeaderButton {
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 3px;
  font-size: 14px;
  font-weight: bold;
}

.ProfileUserLocation {
  font-size: 16px;
}

.ProfileUsername {
  font-size: 17px;
  font-weight: bold;
}

.ProfileStat {
  color: #777;
  font: 20px Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.caption {
  margin-left: 5px;
  color: #555;
  font: 16px Helvetica, sans-serif;
}

.photoEntry {
  border-radius: 5px;
}

.AddPhotoViewPicFrame {
  border: 1px solid #662C00;
}

.AddViewButton {
  border-radius: 10px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  background-color: #79BD8F;
  color: 'white';
}

.salmonBG{
  background-color: #FF6138;
}

.yellowBG{
  background-color: #FFFF9D;
}

.lightgreenBG{
  background-color: #BEEB9F;
}

.medgreenBG{
  background-color: #79BD8F;
}

.darkgreenBG{
  background-color: #00A388;
}
